// Fonts
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller.ttf'),
    url('../fonts/Aller_It.ttf'),
    url('../fonts/Aller_BdIt.ttf'),
    url('../fonts/AllerDisplay.ttf'),
    url('../fonts/Aller_Rg.ttf');
  }

  @font-face {
      font-family: 'Myriad Pro';
      src: url('../fonts/MyriadPro-Regular.otf');
  }

// Colors
$strong-dark :  #242424;
$light-dark : #2e2e2e;
$container-space: 3em;
$border-color: #cccccc;
$green: #57c5a0;
$background-white: #ebe7df;
$blog-grey: #dfdbd4;
$footer-paragraph: #939393;
$footer-heading: #7d7d7d;
$footer-dates: #a4a5a0;
$orange: #F27E4B;

/* General */
body {
    font-family: 'Aller', sans-serif;
    background-color: $background-white;
}

.container-general {
    padding: 0px;
}

/* Top Bar */

.top-bar {
    background-color: $strong-dark;
    padding: 10px;
}

.navbar-brand {
    color: #57c5a0 !important;
}
.navbar-brand:hover {
    color: #fff !important;
    transition: .5s;
}

.search-icon:hover {
    cursor: pointer;
}

.search-container {
    margin: 0px;
}

.search-icon {
    color: #6e6e6e;
    vertical-align: middle;
    padding: 7px 13px;
    background-color: $strong-dark;
    transition: .8s;
}

.fa-search:before {
    font-size: 20px
}

.input-group-btn{
    position: static;
}

.dropdown-menu{
    width:100%;
    margin-top: 3%;
    border-radius: unset;
}

button.btn.btn-default.dropdown-toggle.search-button {
    box-shadow: unset;
    padding: 2px;
}

button#dropdownMenuButton {
    color: $blog-grey;
}

.dropdown-menu.show {
    background-color: #4c4c4c;
}

a.dropdown-item {
    color: #aaaaaa;
    transition: .8s;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: unset;
    color: #ffffff;
    transition: .8s;
}

.search-icon:hover {
    color: $blog-grey;
    transition: .8s;
}

.search-input {
    background-color: $strong-dark;
    border: unset;
    border-radius: unset;
    transition: .8s;

}

.search-input:focus {
    background-color: $light-dark;
    border: unset;
    border-color: unset;
    box-shadow: unset;
    transition: .8s;
}

.input-group-addon.search-icon {
    padding: 0;
}

button.btn.btn-primary.login-button {
    background-color: $green;
    border-color: $green;
    transition: .8s;
}

button.btn.btn-primary.login-button:hover {
    background-color: $orange;
    border-color: $orange;
    transition: .8s;
}

button.btn.btn-secondary.close-button {
    background-color:$light-dark;
    border-color:$light-dark;
}

button.btn.btn-secondary.close-button:hover {
    background-color:$strong-dark;
    border-color:$strong-dark;
}
button.btn.btn-secondary.register-button {
    background-color: $orange;
    border-color: $orange;
    transition: .8s;
}

button.btn.btn-secondary.register-button:hover {
    background-color: $light-dark;
    border-color:$light-dark;
    transition: .8s;
}
/* Main Menu */

.main-menu {
    background-color: #fff;
    padding: 20px 0px;
}

.main-menu a.nav-link {
    font-size: 20px;
    font-weight: 600;
    padding-right: 3rem !important;
    color: #6c757d ;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link  {
    color: #57c5a0;
}

.main-menu a.nav-link:hover {
    color: #57c5a0 !important;
    transition: .5s;
}

.cart-badge {
    background-color: #57c5a0;
    transition: .8s;
}


.cart-badge:hover {
    background-color: #6c757d;
    transition: .8s;
    cursor: pointer;
}

.shopping-menu-items .fa-shopping-cart:before {
    color: #6c757d;
    padding: 2px;
    padding: 1rem;
    transition: .8s;
}

.shopping-menu-items .fa-shopping-cart:hover:before {
    color: $green;
    padding: 2px;
    padding: 1rem;
    cursor: pointer;
}

.caption-icons i {
    padding: 1rem;
    transition: .8s;
    color: #6c757d;
    background-color: #fff;
}

.caption-icons i:hover {
    color: $green;
    transition: .8s;
    cursor:pointer;
}

.shopping-menu-items .fa-star:before {
    color: #6c757d;
    padding: 1rem;
    transition: .8s;
}

.fa-star:hover:before {
    color: $green;
    cursor: pointer;
    transition: .8s;
}

.badge-secondary {
    color: #fff;
    font-size: 16px;
    transition: .8s;
    padding: 8px 12px;
}

.favorite-badge:hover {
    background-color: $green;
    cursor: pointer;
    transition: .8s;
}

/* Carousel */
.container-carousel {
    padding: 0px;
}

.carousel-indicators li {
    width: 18rem;
    height: 10px;
    background-color: #000000;
    opacity: unset;
    transition: .8s;
}

#first-indicator {
    background-color: $green;
}

ol.carousel-indicators {
    position: relative;
}

ol.carousel-indicators.text-center {
    margin: 0 auto;
}

.carousel-caption.d-none.d-md-block {
    width: 35%;
    text-align: left;
    color: $strong-dark;
    top: 15%;
    left: 55%;
    font-family: 'Myriad Pro';
}

.carousel-caption h5 {
    font-size: 48px;
 }

.carousel-caption p {
    font-size: 18px;
    width: 75%;
    }

.carousel-price-badge {
    padding: 30px 15px;
    border-radius: unset;
    overflow: overlay;
    background-color: #57c5a0;
}

.indicators-container {
    padding: 1rem 0;
    background-color: $light-dark;
}

.text-indicators {
    width: 18rem;
    color: #6c757d;
    font-size: 24px;
    transition: .8s;
}

.text-indicators:hover {
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.subtext-indicators {
    font-size: 18px;
    color: #6c757d;
}

/* Static Content */
.thumbnail {
    position: relative;
    width:100%
}

p.offers-text {
    color: #fff;
    font-size: 26px;
    background-color: rgba(46, 46, 46, 0.9);
    padding: 20px 0px;
    transition: .8s;
}

p.offers-text:hover {
    color: $green;
    transition: .8s;
    cursor: pointer;
}

.category-image img {
    width: 100%;
}

.row-offers {
    padding: 1rem 0;
    background-color: #242424;
}

.container-offers {
    background-color: $strong-dark;
}

.offers-caption p {
    width: auto;
}


// Products
#products {
    padding-top: $container-space;
}

#products h3 {
    padding-bottom: 0.8rem;
    font-family: 'Myriad Pro'
}

.show-all-button {
    padding: 5px 50px;
    border-radius: unset;
    color: rgba(188, 181, 167, 0.9);
    border-color: rgba(188, 181, 167, 0.9);
    transition: .8s;
}

.product-title-row {
    padding-bottom: 1rem;
}

.first-product-row {
    padding-bottom: 1rem;
}

.show-all-button:hover {
    transition: .8s;
    color: $green;
    border-color: $green;
    background-color: #fff;
}

.product-bottom-section {
    border-top: 1px solid $border-color;
}

.card-body {
    padding: 1rem !important;
}

.product-sale-badge {
    right: 3%;
    position: absolute;
    padding: 30px 10px;
    border-radius: unset;
    background-color: $strong-dark;
}

.product-out-badge {
    right: 3%;
    position: absolute;
    padding: 25px 15px;
    border-radius: unset;
    background-color: #f27e4b;
}

.product-price-badge {
    position: absolute;
    padding: 30px 10px;
    border-radius: unset;
    overflow: overlay;
    background-color: $green;
    bottom: 2%;
    left: 3%;
}

.product-icons i {
    padding: 0rem 1rem;
    transition: .8s;
    color: #6c757d;
}

.product-icons i:hover {
    color: $green;
    transition: .8s;
    cursor:pointer;
}

p.product-title {
    position: relative;
    left: 30%;
    margin: 0;  
    transition: .8s;
}

.container.line-break {
    margin-bottom: 2rem;
}

//Blog Section
.blog-boxes {
    background-color: $blog-grey;
    height: 100%;
}

.col-md-12.blog-boxes {
    border: none;
    padding-top: 35px;
    padding-bottom: 15px;
   
}

.blog-boxes p {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Myriad Pro' !important;
}

.blog-boxes h3 {
    font-size: 26px;
    font-weight: 500;
}

.blog-titles {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.blog-titles.show {
    display: flex;
}

.blog-titles.animate {
    opacity: 1;
}

span.badge.badge-secondary.date-badge {
    padding: 10px;
    border-radius: unset;
    background-color: $green;

}

.blog-text-column p {
    margin: 0;
    font-size: 16px;
    

}
.blog-text-column h5 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.col-md-10.blog-text-column {
    padding-left: unset;
}

.blog-container {
    margin-bottom: 2rem;
}

// Footer Section
.footer-section {
    background-color: $strong-dark;
    padding: 5rem 0;
}

.footer-section p {
    color: $footer-paragraph;
    font-size: 14px;
}

.footer-section h3 {
    color: $footer-heading;
    margin-bottom: 2rem;
    font-size: 22px;
}

.twitter-date {
    color: $footer-dates;
    font-size: 13px;
}

.twitter-date:hover {
    color: #fff;
    transition: .7s;
    cursor: pointer;
}

.twitter-link {
    color: $green;
    transition: .8s;
}

.twitter-link:hover {
    color: #fff;
    cursor: pointer;
}

img.img-fluid.flickr-widget {
    width: 100%;
}

.modal-body.modal-body-popup {
    background-color: $strong-dark !important;
    border-radius: 20px;
}

.modal-content.modal-pupup {
    background-color:$strong-dark !important;
}
.modal-content.modal-pupup span {
    color: #fff;
}

.flickr-col {
    padding-left: 0;
}

body.modal-open {
    overflow: visible;
}

.footer-linebreak {
    border: 1px solid $light-dark;
}

// Social Media & Newsletter Section
input.form-control.email-input {
    padding: 25px !important;
    border-radius: unset;
    background-color: $light-dark;
    border-color: $strong-dark;
}

span.input-group-btn.submit-button {
    background-color: $footer-heading;
    padding: 6px;
    transition: .8s;
}

span.input-group-btn.submit-button:hover {
    background-color: $green;
    transition: .8s;
}

.row.justify-content-between.row-social-media {
    padding-top: 2rem;
}

.social-icon {
    font-size: 50px;
    color: grey;
    transition: .8s;
    border-radius: unset;

}

.social-icon:hover {
    color: #fff;
    transition: .8s;
    cursor: pointer;
}

.container-fluid.copyright-section {
    padding: 1.2rem;
    color: $footer-paragraph;
    background-color: $light-dark;
}

.footer-menu p {
    margin: 0px;
}

.col-md-6.footer-menu p {
    float: right;
}   

.copyright-col p {
    margin: 0px;
}

.footer-menu a {
    text-decoration: none;
    color: grey !important;
    transition: .8s;
}

.footer-menu a:hover {
    color: #fff !important;
    transition: .8s;
}